<!DOCTYPE html>
<html>
<head>

    <title>Dashboard</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

    <h1>Student Management Dashboard</h1>
    <div class="stats-container">

    <div class="stats-card">

        <h2>{{ total_students }}</h2>

        <p>Total Students</p>

    </div>

    <div class="stats-card">

        <h2>{{ total_attendance }}</h2>

        <p>Attendance Records</p>

    </div>

    <div class="stats-card">

        <h2>{{ total_marks }}</h2>

        <p>Marks Records</p>

    </div>

    <div class="stats-card">

        <h2>{{ total_departments }}</h2>

        <p>Departments</p>

    </div>

</div>
    <div class="department-container">

    <a href="/department/CSE" class="department-card">

        CSE

    </a>

    <a href="/department/ECE" class="department-card">

        ECE

    </a>

    <a href="/department/MECH" class="department-card">

        MECH

    </a>

    <a href="/department/CIVIL" class="department-card">

        CIVIL

    </a>

    <a href="/department/EEE" class="department-card">

        EEE

    </a>

    <a href="/department/AI" class="department-card">

        AI

    </a>

</div>
<div class="dashboard">

    <a href="/students" class="dashboard-card">

        Manage Students

    </a>

    <a href="/attendance" class="dashboard-card">

        Mark Attendance

    </a>

    <a href="/view_attendance" class="dashboard-card">

        View Attendance

    </a>

    <a href="/attendance_report" class="dashboard-card">

        Attendance Report

    </a>

    <a href="/add_marks" class="dashboard-card">

        Add Marks

    </a>

    <a href="/view_marks" class="dashboard-card">

        View Marks

    </a>

    <a href="/marks_report" class="dashboard-card">

        Marks Report

    </a>

    <a href="/logout" class="dashboard-card logout-card">

        Logout

    </a>

</div>

</body>
</html>