<!DOCTYPE html>
<html>
<head>

    <title>Dashboard</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

    <h1>Student Management Dashboard</h1>

<div class="dashboard">

    <a href="/students">Manage Students</a>

    <a href="/attendance">Mark Attendance</a>

    <a href="/view_attendance">View Attendance</a>

    <a href="/attendance_report">Attendance Report</a>

    <a href="/add_marks">Add Marks</a>

    <a href="/view_marks">View Marks</a>

    <a href="/marks_report">Marks Report</a>

    <a href="/logout">Logout</a>

</div>

</body>
</html>