<!DOCTYPE html>
<html>

<head>

    <title>{{ dept }} Marks Records</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="navbar">

    <a href="/dashboard">Dashboard</a>

    <a href="/students">Students</a>

    <a href="/department/{{ dept }}">

        Back

    </a>

    <a href="/logout">Logout</a>

</div>

<div class="container">

    <h1>{{ dept }} Marks Records</h1>

    <table>

        <tr>

            <th>Student Name</th>

            <th>Subject</th>

            <th>Marks</th>

            <th>Result</th>

        </tr>

        {% for record in records %}

        <tr>

            <td>{{ record[0] }}</td>

            <td>{{ record[1] }}</td>

            <td>{{ record[2] }}</td>

            <td>

                {% if record[2] >= 40 %}

                    <span class="pass">

                        Pass

                    </span>

                {% else %}

                    <span class="fail">

                        Fail

                    </span>

                {% endif %}

            </td>

        </tr>

        {% endfor %}

    </table>

</div>

</body>

</html>