<!DOCTYPE html>
<html>

<head>

    <title>{{ dept }} Attendance Records</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="navbar">

    <a href="/dashboard">Dashboard</a>

    <a href="/students">Students</a>

    <a href="/department/{{ dept }}">

        Back

    </a>

    <a href="/logout">Logout</a>

</div>

<div class="container">

    <h1>{{ dept }} Attendance Records</h1>

    <table>

        <tr>

            <th>Student Name</th>

            <th>Date</th>

            <th>Status</th>

        </tr>

        {% for record in records %}

        <tr>

            <td>{{ record[0] }}</td>

            <td>{{ record[1] }}</td>

            <td>

                {% if record[2] == 'Present' %}

                    <span class="present">

                        Present

                    </span>

                {% else %}

                    <span class="absent">

                        Absent

                    </span>

                {% endif %}

            </td>

        </tr>

        {% endfor %}

    </table>

</div>

</body>

</html>