<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>All Students</title>
</head>
<body>
    <div class="navbar">

    <a href="/dashboard">Dashboard</a>

    <a href="/students">Students</a>

    <a href="/attendance">Attendance</a>

    <a href="/add_marks">Marks</a>

    <a href="/logout">Logout</a>

</div>
{% with messages = get_flashed_messages() %}

    {% if messages %}

        {% for message in messages %}

            <div class="flash-message">

                {{ message }}

            </div>

        {% endfor %}

    {% endif %}

{% endwith %}
<h1 style="text-align:center;">
    Add Student
</h1>

<form action="/add" method="POST">

    <input type="text"
           name="name"
           placeholder="Enter Name"
           required>

    <input type="text"
           name="roll"
           placeholder="Enter Roll Number"
           required>

    <input type="text"
           name="department"
           placeholder="Enter Department"
           required>

    <button type="submit">
        Add Student
    </button>

</form>

    <h1 style="text-align:center;">
    Student List
</h1>
    <form method="GET" action="/students">

    <input type="text" name="search" placeholder="Search by name">

    <button type="submit">Search</button>

</form>
<br><br>
    <table border="1">

        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Roll Number</th>
            <th>Department</th>
            <th>Actions</th>
        </tr>

        {% for student in students %}

        <tr>
            <td>{{ student[0] }}</td>
            <td>{{ student[1] }}</td>
            <td>{{ student[2] }}</td>
            <td>{{ student[3] }}</td>
            <td>
                <a class="edit-btn"
                    href="/edit/{{ student[0] }}">
                    Edit
                </a>

                <a class="delete-btn"
                    href="/delete/{{ student[0] }}"
                    onclick="return confirm('Are you sure you want to delete this student?')">

                    Delete

                </a>
                <br><br>

                <a class="edit-btn"
                    href="/student/{{ student[0] }}">

                    View Profile

                </a>
            </td>
        </tr>

        {% endfor %}

    </table>

</body>
</html>